<header>
  <div class="header-area">
    <div id="sticky-header" class="main-header-area">
      <div class="container-fluid">
        <div class="header_bottom_border">
          <div class="row align-items-center">
            <div class="col-xl-2 col-lg-2">
              <div class="logo">
                <a href="index.html">
                  <img src="img/logo.png" alt="" />
                </a>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6">
              <div class="main-menu d-none d-lg-block"  style="margin-left: -100px">
                <nav>
                  <ul id="navigation">
                    <li>
                      <a routerLinkActive="active" [routerLink]="['/home']"
                        >home</a
                      >
                    </li>
                    <li>
                      <a [routerLink]="['/about']" routerLinkActive="active"
                        >About</a
                      >
                    </li>
                    <li>
                      <a
                        class=""
                        href="travel_destination.html"
                        routerLinkActive="active"
                        >Destination</a
                      >
                    </li>
                    <li>
                      <a [routerLink]="['/contact']" routerLinkActive="active"
                        >Contact</a
                      >
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 d-none d-lg-block">
              <div
                class="social_wrap d-flex align-items-center justify-content-end gap-0"

              >
                <div class="social_links d-none d-xl-block">
                  <ul
                    class="d-flex align-items-center list-unstyled gap-3 mb-0"
                  >
                    <li>
                      <i
                        class="fa-brands fa-instagram fa-lg transition-all"
                      ></i>
                    </li>
                    <li>
                      <i
                        class="fa-brands fa-linkedin-in fa-lg transition-all"
                      ></i>
                    </li>
                    <li>
                      <i
                        class="fa-brands fa-facebook-f fa-lg transition-all"
                      ></i>
                    </li>
                    <li>
                      <i
                        class="fa-brands fa-google-plus-g fa-lg transition-all"
                      ></i>
                    </li>

                    @if(this.aut.isLoggedIn()==false){
                    <li class="nav-item me-1">
                      <a
                        routerLink="/register"
                        class="btn btn-outline-success rounded-pill fw-medium "
                      >
                        Register
                      </a>
                    </li>
                    <li class="nav-item" style="margin-left: -35px">
                      <a
                        routerLink="/login"
                        class="btn btn-primary rounded-pill fw-medium text-white "
                      >
                        Login
                      </a>
                    </li>
                    
                    } @else {
                    <li class="nav-item">
                      <a
                        class="btn btn-outline-danger px-3 py-2 rounded-pill fw-medium logout-btn"
                        (click)="this.aut.Logout()"
                      >
                        <i class="fas fa-sign-out-alt me-1"></i> Logout
                      </a>
                    </li>
                    }
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
