/* You can add global styles to this file, and also import other style files */
body{
    background-color: rgba(15, 36, 60, 1) !important;
    color: #fff;
     font-family: "Poppins", sans-serif;
}
  