<section class="container mb-5">
    <h1 class="text-main my-2 mb-5 mt-5">Forget Password</h1>
    @if(msgErr){
        <p class="alert alert-danger">{{msgErr}}</p>
    }
    @if(msgSuc){
        <p class="alert alert-success">{{msgSuc}}</p>
    }
    @if(step == 1)
    {
        <form [formGroup]="verifyEmail" (ngSubmit)="verifyEmailSubmit()">
            <div class="form-group my-2 mb-5">
                <label for="email">Email</label>
                <input type="text" formControlName="email" type="email" class="form-control"
                [ngClass]="{
                    'is-valid' : !verifyEmail.get('email')?.errors && (verifyEmail.get('email')?.touched ||verifyEmail.get('email')?.dirty),
                    'is-invalid' : verifyEmail.get('email')?.errors && (verifyEmail.get('email')?.touched ||verifyEmail.get('email')?.dirty) 
                }"
                >

                @if(verifyEmail.get('email')?.errors && (verifyEmail.get('email')?.touched ||verifyEmail.get('email')?.dirty))
                {
                    <div class="alert alert-danger w-100 mt-1">
                        @if(verifyEmail.get('email')?.getError("required"))
                        {
                        <p class="m-0">Email is Required</p>
                        }
                        @else if(verifyEmail.get('email')?.getError("email"))
                        {
                        <p class="m-0">Invalid email format</p>
                        }
                        @else if(verifyEmail.get('email')?.getError("pattern"))
                        {
                        <p class="m-0">Invalid email format</p>
                        }
                    </div>
                }
            
            </div>
    
            <button class="btn btn-info" [disabled]="verifyEmail.invalid">Verify Email
                @if(isLoading)
                {
                    <span><i class="fas fa-spin fa-spinner"></i></span>
                }
            </button>
        </form>
    }

    @else if (step == 2) {
        <form [formGroup]="verifyCode" (ngSubmit)="verifyCodeSubmit()">
            <div class="form-group my-2 mb-5">
                <label for="resetCode">Code</label>
                <input type="resetCode" formControlName="resetCode" type="text" class="form-control"
                [ngClass]="{
                    'is-valid' : !verifyEmail.get('resetCode')?.errors && (verifyEmail.get('resetCode')?.touched ||verifyEmail.get('resetCode')?.dirty),
                    'is-invalid' : verifyEmail.get('resetCode')?.errors && (verifyEmail.get('resetCode')?.touched ||verifyEmail.get('resetCode')?.dirty) 
                }"
                >
                @if(verifyEmail.get('resetCode')?.errors && (verifyEmail.get('resetCode')?.touched ||verifyEmail.get('resetCode')?.dirty))
                {
                    <div class="alert alert-danger w-100 mt-1">
                        @if(verifyEmail.get('resetCode')?.getError("required"))
                        {
                        <p class="m-0">Email is Required</p>
                        }
                        @else if(verifyEmail.get('resetCode')?.getError("pattern"))
                        {
                        <p class="m-0">Invalid code</p>
                        }
                    </div>
                }
            </div>
    
            <button class="btn btn-info" [disabled]="verifyCode.invalid">Verify Code
                @if(isLoading)
                {
                    <span><i class="fas fa-spin fa-spinner"></i></span>
                }
            </button>
        </form>
    }
    

   @else if (step == 3) {
    <form [formGroup]="resetPassword" (ngSubmit)="resetPasswordSubmit()">
        <div class="form-group my-2 mb-5">
            <label for="email">Email</label>
            <input type="email" formControlName="email" type="email" class="form-control"
            [ngClass]="{
                'is-valid' : !resetPassword.get('email')?.errors && (resetPassword.get('email')?.touched ||resetPassword.get('email')?.dirty),
                'is-invalid' : resetPassword.get('email')?.errors && (resetPassword.get('email')?.touched ||resetPassword.get('email')?.dirty) 
            }"
            >
            @if(resetPassword.get('email')?.errors && (resetPassword.get('email')?.touched ||resetPassword.get('email')?.dirty))
            {
                <div class="alert alert-danger w-100 mt-1">
                    @if(resetPassword.get('email')?.getError("required"))
                    {
                    <p class="m-0">Email is Required</p>
                    }
                    @else if(resetPassword.get('email')?.getError("email"))
                    {
                    <p class="m-0">Invalid email format</p>
                    }
                    @else if(resetPassword.get('email')?.getError("pattern"))
                    {
                    <p class="m-0">Invalid email format</p>
                    }
                </div>
            }
        </div>
        <div class="form-group my-2 mb-5">
            <label for="newPassword">New Password</label>
            <input type="password" formControlName="newPassword" class="form-control"
            [ngClass]="{
                'is-valid' : !resetPassword.get('newPassword')?.errors && (resetPassword.get('newPassword')?.touched ||resetPassword.get('newPassword')?.dirty),
                'is-invalid' : resetPassword.get('newPassword')?.errors && (resetPassword.get('newPassword')?.touched ||resetPassword.get('newPassword')?.dirty) 
            }"
            >
            @if(resetPassword.get('newPassword')?.errors && (resetPassword.get('newPassword')?.touched ||resetPassword.get('newPassword')?.dirty))
            {
            <div class="alert alert-danger w-100 mt-1">
                @if(resetPassword.get('newPassword')?.getError("required"))
                {
                <p class="m-0">Password is required</p>
                }
                @else if(resetPassword.get('newPassword')?.getError("pattern"))
                {
                <p class="m-0">Must include uppercase, lowercase, number, and special character (* % $ #)</p>
                }
                @else if(resetPassword.get('newPassword')?.getError("minlength"))
                {
                <p class="m-0">Minimum 8 characters required</p>
                }
            </div>
            }
        </div>

        <button class="btn btn-info" [disabled]="resetPassword.invalid">Verify Email
            @if(isLoading)
            {
                <span><i class="fas fa-spin fa-spinner"></i></span>
            }
        </button>
    </form>
   }

    
</section>